/* 확인용 */
*{ border: 1px solid red;}
.s1{
    /* span 마크업은 inline 기본값 */
    /* inline 속성값 은 한줄 포함 */
    display : inline;
    /* inline 가로/세로 사이즈 적용 불가능 */
    width: 100px; height: 100px;
    /* inline 바깥여백이 위/아래 적용 불가능 */
    margin: 20px;
    /* inline 안쪽여백이 위/아래 적용 불가능*/
    padding: 10px;
}
.s2{
    /* block 속성값 은 한줄 차지 */
    display: block;
    /* block 가로/세로 사이즈 적용 가능. */
    width: 100px; height: 100px;
    /* blcok 바깥여백 적용 가능 */
    margin: 20px;
    /* block 안쪽여백 적용 가능 */
    padding: 10px;
}
.s3{
    /*inline-block 속성값은 inline과 block 합친것 */
    display: inline-block;
    /* inlin-block 가로/세로 사이즈 적용가능*/
    width: 100px; height: 100px;
    /* inline-block 안쪽/바깥 여백 적용가능*/
    margin: 20px;
    padding: 10px;
}
.s4{ display: none; } /* none 속성값은 표시안함(숨기기).*/